NEXT_PUBLIC_TYPESENSE_HOST=localhost
NEXT_PUBLIC_TYPESENSE_PORT=8108
NEXT_PUBLIC_TYPESENSE_PROTOCOL=http
NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=xyz123
NEXT_PUBLIC_TYPESENSE_ADMIN_API_KEY=xyz123
NEXT_PUBLIC_WORDPRESS_API_URL=https://wp.exoticshoes.co.za/graphql
